<!DOCTYPE html>
<html>
<head>
    {{ headData }}
</head>
<body>
    <header> {{ headerData }} </header>

    <main>
        {{ formData }}
        {{ messagesData }}
    </main>

    <footer>{{ visitsInfo }}</footer>
</body>
</html>
